body{
display: flex;
justify-content: center;
align-items: center;
height: 90vh;}

.calculator{
height: 60vh;
width: 25vw;
background-color: cadetblue;
border: 2px solid cadetblue;
text-align: center;
border-radius: 30px;
}


button{
background-color: palegreen;
font-size: 40px;
margin: 6px;
text-align: center;
border: 2px solid red;
border-radius: 10px;
position: relative;
left: 78px;
cursor: pointer;
width: 40px;
}

input{
    font-size: 20px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid black;
    margin: 0px;
}
h1{
    font-size: 40px;
    color: blue;
    text-decoration: underline;
}

 button:hover{
  font-weight:700;
}
span#emoji{
    font-size: 30px;
    
} 

 
